body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    border-top: 2px solid #842cb0;

}

#main-body {
    margin-top: 40px;
    margin-bottom: 10px;

}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
a:visited {
    color: #842cb0;
}

#main-body .name {
      color: #842cb0;
  
      font-size: clamp(32px, 6vw, 48px);
      line-height: 1.1;
  }

.name .first-name {
      font-weight: 500;
  }
  
.name .last-name {
      font-weight: 300;
  }

#right-column {
      font-size: 14pt;
  
      padding-left: 20px;
      border-left: 2px solid #842cb0;
  
      padding-top: 10px;
  
      color: #444;
      line-height: 200%;
  }
  #right-column p {
      margin-bottom: 25px;
  }